<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notesdea.baidumap">
    <!--网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--访问 WIFI信息，WIFI信息用于网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取运营商信息，支持提供运营商相关信息的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--读取手机当前状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--写入存储，写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--访问网络，纸张定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-feature android:name="android.hardware.location.gps" />
    <!--改变WIFI连接状态-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--读取和写入系统设置-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.baidu.lbsapi.API_KEY"
            android:value="aot0VKcfVDs3ewY4GqoZ5WBHdG9HOs4i"/>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>